@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2D3E50;
  font-family: 'Montserrat', sans-serif;
}





.ocean-container::after {
  content: "";
  position: absolute;
  width: 100%;
  inset: 0;
  background: radial-gradient(circle, #00000000, rgba(20, 20, 20, 0.402));
}




/* Calendar Styling */

.react-calendar {
  text-align: center;
  color: #222;
  background: #fff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  height: 50vh;
}

.react-calendar__navigation {
  position: relative;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1589824503758-a4ebd0ef8a8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2127&q=80');
  background-repeat: no-repeat;
  height: 25vh;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  padding-bottom: 8px;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.react-calendar__navigation button {
  color: #fefffb;
  font-weight: 600;
  min-width: 30px;
  margin: 8px 0;
  font-size: 1rem;
  white-space: nowrap;
}


.react-calendar__navigation button:enabled:hover {
  color: #2afdd6;
}

.react-calendar__navigation button[disabled] {
  background-color: #d3ec66;
}


abbr[title] {
  text-decoration: underline;
}


.react-calendar__month-view__weekdays {
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
}

.react-calendar__month-view__days {
  place-content: center;
  padding: 5px 8px;
}

.react-calendar__tile {
  font-weight: 500;
  margin: 4px 0;
  font-size: 14px;
}

.react-calendar__tile:hover {
  color: #0cd1f4;
  font-weight: 700;
}


.react-datepicker__day--outside-month {
  color: blue;
}


/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
} */




.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #3e3ef1;
}


/* .react-calendar__tile--active {
  background: #fff;
  border-radius: 6px;
  font-weight: bold;
  color: #0cf4ae;
} */

.react-calendar__tile--active:enabled {
  background: #0cf4ae;
  font-weight: 700;
  color: white;
  box-shadow: 0px 0px 10px 1px #0000002a;
  border-radius: 5px;
}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0cf4ae;
  color: white;
}



.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}